
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* TEAM STYLES */

:root{
  --bg-color: white;
  --text-color: black;
  --subText-color: #898989;

  font-family: "Inter";
  font-size: 0.8rem;
}
.darkMode {
  --bg-color: #000000;
  --text-color: white;
  --subText-color: #b0b0b0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

p {
  color: #898989;
  padding-bottom: 4px;
}

/* HEADER */
header {
  margin: 48px 0px 0px 8px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 36px 1fr 1fr;
}

button {
  border: none;
  background-color: transparent;
}
img.logoDark {
  display: inline-block;
}

/* SWITCHING LOGO */
img.logoDark {
  display: inline-block;
}
#logoDL-switch img.logoLight {
  display: none;
}
.darkMode #logoDL-switch img.logoDark {
  display: none;
}
.darkMode #logoDL-switch img.logoLight {
  display: inline-block;
}

/* TOGGLER DARK MODE */
img.toggleDark {
  display: inline-block;
}
#theme-switch img.toggleLight {
  display: none;
}
.darkMode #theme-switch img.toggleDark {
  display: none;
}
.darkMode #theme-switch img.toggleLight {
 display: inline-block;
}

/* SECTION */
section {
  margin: 0px 162px 0px 162px;
  padding-top: 48px;
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
}

.welcomingCopy {
  grid-column-start: 1;
  grid-column-end: 13;
}
h1 {
  text-transform:uppercase;
  font-size: 128px;
  font-weight: 900;
  letter-spacing: -3.84px;
  line-height: 90%
}


/* FOOTER */
footer {
  display: grid;
  gap: 36px;
  margin: 0px 162px 48px 162px;
  grid-template-columns: repeat(3, 1fr);
}

h2 {
  padding-bottom: 16px;
}

.column2 {
  line-height: 120%;
}
